<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/devapp</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">true</property>


		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- 														valor     dirty reads  non-repeteable reads phantom reads
			public static final int 	TRANSACTION_READ_UNCOMMITTED 	1         si           si               si
			public static final int 	TRANSACTION_READ_COMMITTED 	    2         no           si               si
			public static final int 	TRANSACTION_REPEATABLE_READ 	4         no           no               si
			public static final int 	TRANSACTION_SERIALIZABLE 	    8         no           no               no
		 -->
		<property name="hibernate.connection.isolation">4</property>

		<property name="hbm2ddl.auto">create</property>
		
		<mapping resource="nivel.hbm.xml" />
		<mapping resource="planDeCarrera.hbm.xml" />
		
		
		
	</session-factory>

</hibernate-configuration>

