<wicket:extend>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" ><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
		  
<head><meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="base.css" type="text/css" /> </head>
	
<body >
	
<div  id="right" wicket:id="ENTIDADMenuRight"></div>
 
<div id="content">
	<h2 wicket:id="ENTIDADHeaderPanel" > header</h2>
		<pre>
			<div id="body">
			
				<h1> ENTIDAD </h1>
				   
					  <div  wicket:id="ENTIDADFilterPanel">Filtro</div>
					  
					  <button wicket:id="ENTIDADFilterButton" type="submit" value="Filtrar" >botton de filtrar</button>
					
				      <div   wicket:id="ENTIDADTablePanel">tabla</div>
				
			</div>
		</pre>	
</div>
</body>
</html>
</wicket:extend>