<wicket:panel>		
contenido en <!-- <div  id="right" wicket:id="ENTIDADTablePanel"></div>  -->	


						<table class="table" align="center" border="1" >
							<tr background="red">
								<th>Titilo columna A</th>
								<th>Titilo columna B</th>
								<th>etc ....... </th>															
							</tr>
							
							<tr wicket:id="ENTIDADTable">
								<td><span wicket:id="Atributo A de entidad">Atributo A de entidad</span></td>
								<td><span wicket:id="Atributo B de entidad">Atributo B de entidad</span></td>
								<td><span wicket:id="Atributo .. de entidad">Atributo .. de entidad</span></td>
												
							</tr>
						</table>
	

</wicket:panel>
