<html>
<head>   Plan De Carrera </head>
<body>

<wicket:extend>
<h1>Alta de Plan de carrera</h1>

<form wicket:id="planForm" class="PlanDeCarrera">
  
  		<div       wicket:id="especialidadContainer">
            <span  wicket:id="especialidadLabel"  />
            <input wicket:id="especialidadField" type="text" />
        </div>
        
         <div       wicket:id="descripcionContainer">
            <span  wicket:id="descripcionLabel"  />
            <input wicket:id="descripcionField" type="text" />
        </div>
  			
  		<input wicket:id="button" type="submit" value="Set text" />

 </form>
 
</wicket:extend>

</body>
</html>

