<html>
<head>   Empleado </head>
<body>

<wicket:extend>
<h1>Seleccion de empleado</h1>

<div  wicket:id="containerTable">

<table class="resultado" align="center" border="1" >
	<tr background="red">
		<th>legajo</th>
		<th>nombre</th>
		<th>apellido</th>
		<th>fecha Nacimiento</th>
		<th>dni</th>
		
	</tr>
	<tr wicket:id="tablaResultado">
		<td><span wicket:id="id">nombre</span></td>
		<td><span wicket:id="nombre">nombre</span></td>
		<td><span wicket:id="apellido">apellido</span></td>
		<td><span wicket:id="fechaNacimiento">nacimiento</span></td>
		<td><span wicket:id="dni">dni</span></td>		
	</tr>
</table>
</div>


 
</wicket:extend>

</body>
</html>